html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #111;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  margin: 0;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

body::-webkit-scrollbar {
  display: none;
}
