html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #111;
  color: white;
  min-height: 100vh;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

body::-webkit-scrollbar {
  display: none;
}
